@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

@import "1-ChatApp/auth";
@import "1-ChatApp/dashboard";

@import "2-Mixin/shape";
@import "2-Mixin/input";
@import "2-Mixin/event";
@import "2-Mixin/button";
@import "2-Mixin/dropdown";
//body {
//  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
//  font-size: 14px;
//}