.sidebar-right {
  .ant-drawer-content {
    background-color: #f3f9fa;
  }

  .ant-drawer-header {
    background-color: #f3f9fa;
    border-bottom: 2px solid #62664e;
  }

  .ant-drawer-body {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .avatar-group {

    > div {
      width: 120px;
      height: 120px;
      overflow: hidden;
    }
  }
}