.custom-navbar {

  padding: 10px;

  @media (min-width: 576px) {
    padding: 15px 25px 15px 25px;
  }

  .btn-toggle-sidebar {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;

    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12) !important;

    &:hover, &:focus {
      box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
    }
  }

  .site-identified-name {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1.2rem;
    color: #484848 !important;
  }

  display: flex;
}
